In [1]:
import pandas as pd 
file_path = 'F:\\Machine-Learning-Practice\\Linked-In\\Python\\jupyter_programs\\Exercise Files\\03\\washers.csv'
washers_data = pd.read_csv(file_path)
washers_data

,ID,BrandName,ModelNumber,UPC,Configuration,Features,Market,Volume,IMEF,MinimumIMEF,EnergyUse,IWF,MaximumIWF,WaterUse,DateAvailable,DateCertified,Countries,MostEfficient
0,2342279,GE,GTW845C*N***,1,Top Load,"Gentle Cycle,Delayed Start,Sanitize Option",Residential,5.0,2.06,1.29,192,4.3,8.4,6368,8/5/19,7/31/19,"United States, Canada",No
1,2331684,GE,GUD27EE*N***,84691844198,Top Load,Gentle Cycle,Residential,3.9,2.06,1.29,140,4.3,8.4,4947,12/10/18,11/30/18,United States,No
2,2331685,GE,GUD27EE*N***,7.57638E+11,Top Load,Gentle Cycle,Residential,3.9,2.06,1.29,140,4.3,8.4,4947,12/10/18,11/30/18,Canada,No
3,2331687,GE,GUD27GE*N***,84691844181,Top Load,Gentle Cycle,Residential,3.9,2.06,1.29,140,4.3,8.4,4947,12/10/18,11/30/18,United States,No
4,2331686,GE,GUD37EE*N***,7.57638E+11,Top Load,Gentle Cycle,Residential,3.9,2.06,1.29,140,4.3,8.4,4947,12/10/18,11/30/18,Canada,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
256,2333514,Samsung,WF45R61**A*,8.87276E+11,Front Load,"Steam Cycle,Other",Residential,4.5,2.92,1.84,95,2.9,4.7,3807,2/1/19,1/15/19,"United States, Canada",Yes
257,2333513,Samsung,WF45R63**A*,8.87276E+11,Front Load,"Other,Steam Cycle",Residential,4.5,2.92,1.84,95,2.9,4.7,3807,2/1/19,1/15/19,"United States, Canada",Yes
258,2354715,Samsung,WF45T60**A*,8.87276E+11,Front Load,"Steam Cycle,Other",Residential,4.5,2.95,1.84,90,2.9,4.7,3807,2/20/20,2/5/20,"United States, Canada",Yes
259,2352574,Samsung,WF45T62**A*,8.87276E+11,Front Load,"Steam Cycle,Other",Residential,4.5,2.92,1.84,95,2.9,4.7,3807,2/24/20,12/4/19,"United States, Canada",Yes
260,2310457,Samsung,WF50K75**A*,8.87276E+11,Front Load,Other,Residential,5.0,2.92,1.84,105,2.9,4.7,4278,2/14/16,1/25/16,"United States, Canada",Yes

In [3]:
# Returns a Series object.
washers_data['BrandName']

0           GE
1           GE
2           GE
3           GE
4           GE
        ...
256    Samsung
257    Samsung
258    Samsung
259    Samsung
260    Samsung
Name: BrandName, Length: 261, dtype: object

In [4]:
#  Returns a DataFrame with a single column.
washers_data[['BrandName']]

    BrandName
0          GE
1          GE
2          GE
3          GE
4          GE
..        ...
256   Samsung
257   Samsung
258   Samsung
259   Samsung
260   Samsung

[261 rows x 1 columns]

In [5]:
washers_data['BrandName'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 261 entries, 0 to 260
Series name: BrandName
Non-Null Count  Dtype
--------------  -----
261 non-null    object
dtypes: object(1)
memory usage: 2.2+ KB

In [6]:
washers_data[['BrandName']].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 261 entries, 0 to 260
Data columns (total 1 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   BrandName  261 non-null    object
dtypes: object(1)
memory usage: 2.2+ KB

In [7]:
washers_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 261 entries, 0 to 260
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ID             261 non-null    int64
 1   BrandName      261 non-null    object
 2   ModelNumber    261 non-null    object
 3   UPC            261 non-null    object
 4   Configuration  261 non-null    object
 5   Features       202 non-null    object
 6   Market         261 non-null    object
 7   Volume         261 non-null    float64
 8   IMEF           261 non-null    float64
 9   MinimumIMEF    261 non-null    float64
 10  EnergyUse      261 non-null    int64
 11  IWF            261 non-null    float64
 12  MaximumIWF     261 non-null    float64
 13  WaterUse       261 non-null    int64
 14  DateAvailable  261 non-null    object
 15  DateCertified  261 non-null    object
 16  Countries      261 non-null    object
 17  MostEfficient  261 non-null    object
dtypes: float64(5), int64(3), object(10)
memory usage: 36.8+ KB

In [29]:
washers_data.head()

,ID,BrandName,ModelNumber,UPC,Configuration,Features,Market,Volume,IMEF,MinimumIMEF,EnergyUse,IWF,MaximumIWF,WaterUse,DateAvailable,DateCertified,Countries,MostEfficient
0,2342279,GE,GTW845C*N***,1,Top Load,"Gentle Cycle,Delayed Start,Sanitize Option",Residential,5.0,2.06,1.29,192,4.3,8.4,6368,8/5/19,7/31/19,"United States, Canada",No
1,2331684,GE,GUD27EE*N***,84691844198,Top Load,Gentle Cycle,Residential,3.9,2.06,1.29,140,4.3,8.4,4947,12/10/18,11/30/18,United States,No
2,2331685,GE,GUD27EE*N***,7.57638E+11,Top Load,Gentle Cycle,Residential,3.9,2.06,1.29,140,4.3,8.4,4947,12/10/18,11/30/18,Canada,No
3,2331687,GE,GUD27GE*N***,84691844181,Top Load,Gentle Cycle,Residential,3.9,2.06,1.29,140,4.3,8.4,4947,12/10/18,11/30/18,United States,No
4,2331686,GE,GUD37EE*N***,7.57638E+11,Top Load,Gentle Cycle,Residential,3.9,2.06,1.29,140,4.3,8.4,4947,12/10/18,11/30/18,Canada,No

In [9]:
washers_data.columns.tolist()

['ID',
 'BrandName',
 'ModelNumber',
 'UPC',
 'Configuration',
 'Features',
 'Market',
 'Volume',
 'IMEF',
 'MinimumIMEF',
 'EnergyUse',
 'IWF',
 'MaximumIWF',
 'WaterUse',
 'DateAvailable',
 'DateCertified',
 'Countries',
 'MostEfficient']

In [10]:
washers_data.describe()

,ID,Volume,IMEF,MinimumIMEF,EnergyUse,IWF,MaximumIWF,WaterUse
count,2.610000e+02,261.000000,261.000000,261.000000,261.000000,261.000000,261.000000,261.000000
mean,2.320802e+06,4.374713,2.456820,1.591341,129.214559,3.598851,6.372797,4632.727969
std,1.574793e+04,0.965866,0.380599,0.274261,43.850620,0.538265,1.845032,1292.693059
min,2.300602e+06,1.900000,2.060000,1.290000,60.000000,2.700000,4.700000,1728.000000
25%,2.310408e+06,4.300000,2.060000,1.290000,99.000000,3.200000,4.700000,3852.000000
50%,2.310499e+06,4.500000,2.380000,1.840000,120.000000,3.600000,4.700000,4429.000000
75%,2.332089e+06,5.000000,2.920000,1.840000,150.000000,4.300000,8.400000,5632.000000
max,2.359624e+06,6.200000,3.100000,1.840000,311.000000,4.300000,8.400000,7827.000000

In [11]:
# Describe a respective column
washers_data[['BrandName']].describe()

       BrandName
count        261
unique        22
top           LG
freq          50

In [12]:
# Fetch the count of values of a particular record
washers_data[['BrandName']].value_counts()

BrandName
LG                 50
GE                 49
Samsung            47
Kenmore            30
Whirlpool          26
Maytag             18
Electrolux          7
Bosch               4
Miele               4
Asko                4
Beko                3
Blomberg            3
Crosley             3
Midea               2
Magic Chef          2
Amana               2
Fisher & Paykel     2
Insignia            1
Inglis              1
Gaggenau            1
GE Adora            1
Haier               1
Name: count, dtype: int64

In [13]:
# Fetch BrandName Column and with value_count covert that to percentage (on overall entries)
washers_data[['BrandName']].value_counts(normalize = True)

BrandName
LG                 0.191571
GE                 0.187739
Samsung            0.180077
Kenmore            0.114943
Whirlpool          0.099617
Maytag             0.068966
Electrolux         0.026820
Bosch              0.015326
Miele              0.015326
Asko               0.015326
Beko               0.011494
Blomberg           0.011494
Crosley            0.011494
Midea              0.007663
Magic Chef         0.007663
Amana              0.007663
Fisher & Paykel    0.007663
Insignia           0.003831
Inglis             0.003831
Gaggenau           0.003831
GE Adora           0.003831
Haier              0.003831
Name: proportion, dtype: float64

In [22]:
# perform mean on Volume DataFrame
washers_data[['Volume']].mean()

Volume    4.374713
dtype: float64

In [25]:
?#Group by BrandName and perform mean based on Volumn
washers_data.groupby('BrandName')[['Volume']].mean()

                   Volume
BrandName
Amana            4.250000
Asko             2.525000
Beko             2.133333
Blomberg         2.300000
Bosch            2.200000
Crosley          4.400000
Electrolux       3.785714
Fisher & Paykel  2.400000
GE               4.328571
GE Adora         4.200000
Gaggenau         2.200000
Haier            2.400000
Inglis           4.300000
Insignia         4.800000
Kenmore          4.796667
LG               4.596000
Magic Chef       2.700000
Maytag           4.988889
Midea            5.200000
Miele            2.300000
Samsung          4.729787
Whirlpool        4.453846

In [26]:
#Group by BrandName and perform mean based on Volumn and sort in ascending order
washers_data.groupby('BrandName')[['Volume']].mean().sort_values(by = 'Volume')

                   Volume
BrandName
Beko             2.133333
Gaggenau         2.200000
Bosch            2.200000
Miele            2.300000
Blomberg         2.300000
Fisher & Paykel  2.400000
Haier            2.400000
Asko             2.525000
Magic Chef       2.700000
Electrolux       3.785714
GE Adora         4.200000
Amana            4.250000
Inglis           4.300000
GE               4.328571
Crosley          4.400000
Whirlpool        4.453846
LG               4.596000
Samsung          4.729787
Kenmore          4.796667
Insignia         4.800000
Maytag           4.988889
Midea            5.200000

In [28]:
# groupby BrandName and perform aggegration on it on the basis of Volume DataFrame
washers_data.groupby('BrandName')[['Volume']].agg(['mean' , 'median' , 'min' , 'max'])

                   Volume
                     mean median  min  max
BrandName
Amana            4.250000   4.25  4.2  4.3
Asko             2.525000   2.70  2.0  2.7
Beko             2.133333   2.00  1.9  2.5
Blomberg         2.300000   2.50  1.9  2.5
Bosch            2.200000   2.20  2.2  2.2
Crosley          4.400000   4.50  4.2  4.5
Electrolux       3.785714   4.30  2.4  4.4
Fisher & Paykel  2.400000   2.40  2.4  2.4
GE               4.328571   4.50  2.2  5.2
GE Adora         4.200000   4.20  4.2  4.2
Gaggenau         2.200000   2.20  2.2  2.2
Haier            2.400000   2.40  2.4  2.4
Inglis           4.300000   4.30  4.3  4.3
Insignia         4.800000   4.80  4.8  4.8
Kenmore          4.796667   4.80  2.4  6.2
LG               4.596000   4.50  2.3  5.8
Magic Chef       2.700000   2.70  2.7  2.7
Maytag           4.988889   4.90  4.4  6.2
Midea            5.200000   5.20  5.2  5.2
Miele            2.300000   2.30  2.3  2.3
Samsung          4.729787   4.80  2.2  5.6
Whirlpool        4.453846   4.50  2.0  5.3